<p id="notice"><%= notice %></p>

<p>
  <%= @question.number %><strong>번째 문</strong>
</p>

<p>
  <%= @question.content %>
</p>

<form action=<%="/engage_states/#{@engage_state.id}/edit"%>>
  <input type="text" name="answer">
  <input type="submit" value="Submit">
</form>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>