<%= form_for(@reply) do |f| %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% @reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" value=<%= @post.id %> name="reply[post_id]">
  <input type="hidden" value=<%= current_user.id %> name="reply[user_id]">
  <div class="input-group text-center">
    <input id="reply_content" class="form-control input-md" name="reply[content]" type="text" placeholder="하... 하고 싶은 말 있어?">
    <span class="input-group-btn">
      <button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
    </span>
  </div>

<% end %>
