<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @attachment.parent %>
</p>

<p>
  <strong>Parent type:</strong>
  <%= @attachment.parent_type %>
</p>

<p>
  <strong>File:</strong>
  <%= @attachment.file %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
