<%= form_for(@engage_state) do |f| %>
  <% if @engage_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@engage_state.errors.count, "error") %> prohibited this engage_state from being saved:</h2>

      <ul>
      <% @engage_state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.text_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :question_number %><br>
    <%= f.number_field :question_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
