<h1>Listing engage_states</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
      <th>Question number</th>
      <th>IsValid</th>
      <th>Answer</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @engage_states.each do |engage_state| %>
      <tr>
        <td><%= engage_state.user.id %></td>
        <td><%= engage_state.post.id %></td>
        <td><%= engage_state.question_number %></td>
        <td><%= engage_state.is_valid %></td>
        <td><%= engage_state.answer %></td>
        <td><%= link_to 'Show', engage_state %></td>
        <td><%= link_to 'Edit', edit_engage_state_path(engage_state) %></td>
        <td><%= link_to 'Destroy', engage_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Engage state', new_engage_state_path %>
