<div class="container">

  <!--main-->
  <div class="container" id="main">
    <div class="row">
      <% Post.all.each do |p| %>
      <% gift_img = p.attachments.first %>
        <% if gift_img.nil? %>
          <% gift_img = "/app/assets/default_gift_img.png" %>
        <% else %>
          <% gift_img = gift_img.file %>
        <% end %>
        <div class="col-sm-4 col-xs-6">
          <div class="panel panel-default">
            <a href=<%= "/posts/#{p.id}" %>>
              <div class="panel-thumbnail" style=<%= "background-color:" + @rand_color.sample %>>
                <img src=<%= gift_img %> class="img-responsive" style="height:300px; width:450px">
              </div>
            </a>
            <div class="panel-body">
              <p class="lead"><%= p.title %></p>
              <p><%= p.description %></p>
              <p>문제 수는 <%= p.questions.all.count %>개야</p>

              <p>푸는 사람들</p>
              <p>
                <img src="http://api.randomuser.me/portraits/med/men/20.jpg" width="28px" height="28px">
                <img src="http://api.randomuser.me/portraits/med/men/21.jpg" width="28px" height="28px">
                <img src="http://api.randomuser.me/portraits/med/men/14.jpg" width="28px" height="28px">
              </p>
            </div>
          </div>
        </div><!--/col-->
      <% end %>
    </div>
  </div><!--/main-->

</div>
<!--   <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div> -->


