<%= nested_form_for(@post, :html => {:multipart => true}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> 를 다시 확인해주세요</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for :questions, wrapper: false do |q| %>
    <div class="q_field">
      <%= q.text_area :content %>
      <%= q.text_field :answer %>
      <%= q.link_to_remove "아니야 이건 안 낼래", class: "remove_question_btn"%>
    </div>
  <% end %>
  <%= f.link_to_add "흥... 한 문제 더 내볼까?", :questions, class: "add_question_btn"%>

  <%= f.fields_for :attachments do |a| %>
      <%= a.file_field :file %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

