<div class="row">
  <% @posts.each do |p| %>
    <div class="col-sm-4 col-xs-8">
      <div class="panel panel-default">
        <a href=<%= "/posts/#{p.id}" %>>
          <div class="panel-thumbnail" style=<%= "background-color:" + @rand_color.sample + "; width:450px; height:300px;" %>>
          <center>
          <% gift_img = p.attachments.first %>
          <% if gift_img.nil? %>
            <% gift_img = "default_gift_img.png" %>
            <% width = "80%" %>
          <% else %>
            <% gift_img = gift_img.file %>
            <% w = "100%" %>
          <% end %>
          <%= image_tag gift_img, class: "img-responsive", width: w, height: "auto"%>
          </center>
          </div>

        </a>
        <div class="panel-body">
          <p class="lead"><%= p.title %></p>
          <p><%= p.description %></p>
          <p>문제 수는 <%= p.questions.all.count %>개야</p>

          <p>푸는 사람들</p>
          <p>
            <img src="http://api.randomuser.me/portraits/med/men/20.jpg" width="28px" height="28px">
            <img src="http://api.randomuser.me/portraits/med/men/21.jpg" width="28px" height="28px">
            <img src="http://api.randomuser.me/portraits/med/men/14.jpg" width="28px" height="28px">
          </p>
        </div>
      </div>
    </div><!--/col-->
  <% end %>
</div>

<%= link_to 'New Post', new_post_path %>
