<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= @post.title %></h4></div>
        <div class="panel-body">
          <div class="panel-body" style="margin:0%;padding:0%">
            <% if @attachment.nil? %>
            <div class="col-md-12"><%= @post.description %></div>
            <% else %>
            <div class="col-md-4">
              <%= image_tag @attachment.file, class:"img-responsive img-thumbnail pull-left",
              width: "100%"%>
            </div>
            <div class="col-md-8"><%= @post.description %></div>
            <% end %>
          </div>
          <hr>
          <div class="pannel body">
            <div class="progress">
              <div class="progress-bar progress-bar-info" style="width: 20%">
                <%= @post.engage_states.to_a.uniq{|e| e.user_id}.count %> 명이 풀고 있네!
              </div>
            </div>
          </div>

          <hr>

          <div class="well well-sm">
            <div class="media">
            <a class="thumbnail pull-left" href="#">
              <!-- 살짝 오른쪽으로 보내야 함 -->
              <img class="media-object" src="//placehold.it/80">
            </a>
              <div class="media-body" style="padding-left:3%">
                <h4 class="media-heading"><%= @post.user.email %></h4>
                <p>
                  <span class="label label-info" style="font-size: 10px"><%= @post.user.posts.count %>개를 흘렸어요.</span>
                </p>
                <p>
                  <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-star"></span><%= @user_rating %></a>
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <% if user_signed_in? and current_user != @post.user and !@post.is_complete%>
      <% if current_user.engage_states.find_by(post_id: @post.id).present? %>
        <% user_question_num = current_user.engage_states.where(post_id: @post.id).last.question_number %>
        <% user_question_id = @post.questions.find_by(number: user_question_num).id%>
      <% else %>
        <% user_question_id = @post.questions.first.id%>
      <% end %>
        <center><a href=<%= "/questions/#{user_question_id}" %> class="btn btn-md btn-primary" type="button" style="width:70%;height:70px;color:white">
        <p>어... 어딨는지 알고 싶어?</p>
      </a></center>
    <% elsif @post.is_complete %>
      <center><a href="#" class="btn btn-md btn-danger" type="button" style="width:70%;height:70px;color:white">
        <p>누... 누가 가져갔는지 알게 뭐야! 좋아하는 거 아니라구!</p>
      </a></center>
    <% end %>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="well">
    <% if user_signed_in? %>
      <%= render :partial => 'replies/form', :object => @reply %>
    <% else %>
    <div class="input-group text-center" style="width:100%">
      <input class="form-control input-md" placeholder="로그인 후 댓글 기능을 이용하실 수 있습니다. 약 오르지?" readonly>
    </div>
    <% end %>
  </div>
    <% @post.replies.each do |r| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              <img src="http://api.randomuser.me/portraits/med/men/20.jpg" style="border-radius:5px" width="28px" height="28px">
              <%= r.user.email %> : <%= r.content %>

              <!-- 리플라이 수정 권한 부여 -->
              <%if current_user == r.user%>
                <a data-method="delete" class="pull-right" href=<%= "/replies/"+r.id.to_s %>>
                  <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
                </a>
                <a class="pull-right" href=<%= "/replies/"+r.id.to_s+"/edit" %>>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp
                </a>
              <% end %>
            </p>
          </div>
        </div>
    <% end %>
  </div>

  <hr>
</div>

<p id="notice"><%= notice %></p>

<p>
<strong>User:</strong>
<%= @post.user %>
</p>

<p>
<strong>Title:</strong>
<%= @post.title %>
</p>

<p>
<strong>Description:</strong>
<%= @post.description %>
</p>

<p>
<strong>Is complete:</strong>
<%= @post.is_complete %>
</p>

<p>
<strong>Hunter:</strong>
<%= @post.hunter %>
</p>

<%= image_tag @post.attachments.first.file rescue nil %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
