<!DOCTYPE html>
<html>
<head>

  <title>연세보물찾기</title>
	<link rel="stylesheet" href="//bootswatch.com/simplex/bootstrap.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="container">
		<%= render 'layouts/messages' %>
		<!-- <p class="notice"><%= notice %></p> -->
		<div class="header clearfix">
	    <nav>
	      <ul class="nav nav-pills pull-right">
	      	<li role="presentation" class="active"><a href="/">메인</a></li>
	      	<li role="presentation"><a href="/posts">줍기</a></li>
	      	<li role="presentation"><a href="/posts/new">떨구기</a></li>
	        <%if user_signed_in?%>
		        <li role="presentation"><a href="/users/sign_out" data-method="delete">로그아웃</a></li>
	        <%else%>
	        	<li role="presentation"><a href="/users/sign_in">로그인</a></li>
		        <li role="presentation"><a href="/users/sign_up">회원가입</a></li>
	        <%end%>
	      </ul>
	    </nav>
	    <h3 class="text-muted">Project name</h3>
	  </div>
		<%= yield %>
		<footer class="footer">
	    <p>&copy; 코깎노 2015</p>
	    <p><span class="glyphicon glyphicon-send" aria-hidden="true"></span> insunym@gmail.com</p>
	  </footer>
	</div>
</body>
</html>
